<style>
    button.remove, button.join, button.leave {
        float: right;
    }

    div#allMessages {
    }

    div.msgContainer {
        padding: 10px;
        margin-bottom: 5px;
    }

    span.frm {
    }

    div.chat-area {
        padding: 10px;
        height: 700px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
    }

    span.msg {
        padding: 5px;
        border: 1px solid gray;
        box-shadow: 1px 1px #adadad;
        margin: 25px;
        background-color: wheat;
    }

    div.btn-container {
      
    }
</style>
<div class="container" >
    <div class="row" style="margin-top:100px;">
        <div class="col-md-9"><h2>Chat app</h2></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Users Online <span class="badge" id="userCount"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <button class="btn btn-block btn-primary" id="createNewRoom">
                    Create New Room
                </button>
            </div>
            <table class="table table-striped table-responsive" id="roomList">
                <tr>
                    <td>Rooms</td>
                </tr>

            </table>
        </div>
        <div class="col-md-8">
            <div class="chat-area row">
                <div id="allMessages" class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="btn-container row">
        <div class="col-md-10">
            <textarea id="message" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-md-2">
            <button class="send btn btn-primary">Send</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var chatGroupProxy = $.connection.chatGroup;

            //clients
            chatGroupProxy.client.updateUserCount = function (userCount) {
                $("#userCount").html('<span>' + userCount + '</span>')
            }

            chatGroupProxy.client.updateGroupList = function (groupName, action) {

                if (action === 'add') {
                    $("#roomList").append('<tr id=' + groupName + '><td><span>' + groupName + '</span><button class="remove btn btn-danger">X</button> <button class="leave btn btn-primary">L</button> <button class="join btn btn-success">J</button> </td></tr>').slideDown();
                } else {
                    $("tr#" + groupName).slideUp().remove();
                }
            }

            chatGroupProxy.client.flushMessage = function (from, message) {
                $("div#allMessages").append("<div class='msgContainer row'><span class='frm label label-primary'>" + from + "</span> <span class='msg'>" + message + "</span></div>");
            }
            //server
            $("#createNewRoom").on('click', function () {
                if (window.signalRConnected) {
                    var groupName = prompt('enter room name');
                    chatGroupProxy.server.createRoom(groupName);
                } else {
                    alert('no connection established');
                }
            });

            $(document).on('click', 'button.remove', function () {
                if (window.signalRConnected) {
                    var ok = confirm('Do you want to delete this room ? ');
                    if (ok) {
                        var groupName = $(this).siblings('span').html();
                        chatGroupProxy.server.deleteRoom(groupName);
                    }
                } else {
                    alert('no connection established');
                }
            });

            $(document).on('click', 'button.join', function () {
                if (window.signalRConnected) {
                    var ok = confirm('Do you want to join this room ? ');
                    if (ok) {
                        var _self = $(this).closest('tr');
                        var groupName = $(this).siblings('span').html();
                        chatGroupProxy.server.addUserToGroup(groupName).done(function () {
                            $(_self).css('background-color', 'darkseagreen');
                        });
                    }
                } else {
                    alert('no connection established');
                }
            });

            $(document).on('click', 'button.leave', function () {
                if (window.signalRConnected) {
                    var ok = confirm('Do you want to leave this room ? ');
                    if (ok) {
                        var _self = $(this).closest('tr');
                        var groupName = $(this).siblings('span').html();
                        chatGroupProxy.server.removeUserFromGroup(groupName).done(function () {
                            alert('you left the room');
                        });
                    }
                } else {
                    alert('no connection established');
                }
            });


            $('.send').on('click', function () {
                var message = $('#message').val();
                $('#message').val("");
                chatGroupProxy.server.deliverMessage(message);
            })

        });

    </script>
}