@{
    ViewBag.Title = "Home Page - SignalR Demo";
}

<div class="jumbotron">
    <h1><a href="http://www.asp.net/signalr" target="_blank">ASP.NET SignalR</a></h1>
</div>

<div class="row">
    <h1>
        <span id="updatedCount" class="alert alert-danger"></span>
    </h1>
    <div class="btn btn-block btn-primary" id="message"></div>
</div>

@section scripts{

    <script>
        $(window)
            .on('load',
                function () {

                    //register all the clients methods first
                    helloHub.client.sayHello = function (message) {
                        $("#message").append($('<p>', {
                            html: message
                        }));
                    };

                    helloHub.client.updateClientsConnectedCount = function (clientCount) {
                        $('#updatedCount').html(clientCount);
                    }

                });
    </script>

}