
@{
    ViewBag.Title = "Tracking readers";
}

@section styles{
    <style>
        .user-pos-label {
            position: absolute;
        }
    </style>

}


<h2>Lorem ipsum</h2>
<div class="container">
    <div class="row">
        <p>
        <p>
            The <b>2002 Atlantic hurricane season</b> was a slightly below average <a href="/wiki/Atlantic_hurricane_season" title="Atlantic hurricane season">Atlantic hurricane season</a>, officially starting on June&#160;1, 2002 and ending on November&#160;30, dates which conventionally limit the period of each year when most <a href="/wiki/Tropical_cyclone" title="Tropical cyclone">tropical cyclones</a> develop in the Atlantic Ocean. The season produced 14&#160;tropical cyclones, of which 12&#160;developed into <a href="/wiki/Tropical_cyclone_naming" title="Tropical cyclone naming">named storms</a>; four became hurricanes, and two attained <a href="/wiki/Tropical_cyclone_scales#Atlantic_and_East_Pacific" title="Tropical cyclone scales">major hurricane</a> status. The season officially began on June&#160;1, although the season's first cyclone did not develop until July&#160;14. Despite the late start, the 2002 season tied with <a href="/wiki/2004_Atlantic_hurricane_season" title="2004 Atlantic hurricane season">2004</a>, <a href="/wiki/2007_Atlantic_hurricane_season" title="2007 Atlantic hurricane season">2007</a>, and <a href="/wiki/2010_Atlantic_hurricane_season" title="2010 Atlantic hurricane season">2010</a> in which a record number of tropical storms, eight, developed in the month of September. It ended early however, with no tropical storms forming after October 6—a rare occurrence caused partly by <a href="/wiki/El_Ni%C3%B1o" title="El Niño">El Niño</a> conditions. The most intense hurricane of the season was <a href="/wiki/Hurricane_Isidore" title="Hurricane Isidore">Hurricane Isidore</a> with a minimum central pressure of 934&#160;mbar, although <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a> attained higher winds and peaked at Category&#160;4 status on the <a href="/wiki/Saffir%E2%80%93Simpson_hurricane_wind_scale" title="Saffir–Simpson hurricane wind scale">Saffir–Simpson hurricane wind scale</a>. The season's low activity is reflected in the low cumulative <a href="/wiki/Accumulated_cyclone_energy" title="Accumulated cyclone energy">accumulated cyclone energy</a> (ACE) rating of 67.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> ACE is, broadly speaking, a measure of the power of the hurricane multiplied by the length of time it existed, so low number reflects the small number of strong storms and preponderance of tropical storms.
        </p>
        <p>
            The season was less destructive than average, causing an estimated $2.6&#160;billion (2002&#160;USD) in property damage and 23 fatalities. Most of this was due to Isidore, which caused about $970&#160;million (2002&#160;USD, $1.28&#160;billion 2016&#160;USD) in damage and killed seven people in the <a href="/wiki/Yucat%C3%A1n_Peninsula" title="Yucatán Peninsula">Yucatán Peninsula</a> and later the United States, and <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a>, which caused $860&#160;million (2002&#160;USD) in damage and 15 deaths when it made landfall in <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>.
        </p>
        <p></p>

    </div>
    <div class="row">
        <p>
        <p>
            The <b>2002 Atlantic hurricane season</b> was a slightly below average <a href="/wiki/Atlantic_hurricane_season" title="Atlantic hurricane season">Atlantic hurricane season</a>, officially starting on June&#160;1, 2002 and ending on November&#160;30, dates which conventionally limit the period of each year when most <a href="/wiki/Tropical_cyclone" title="Tropical cyclone">tropical cyclones</a> develop in the Atlantic Ocean. The season produced 14&#160;tropical cyclones, of which 12&#160;developed into <a href="/wiki/Tropical_cyclone_naming" title="Tropical cyclone naming">named storms</a>; four became hurricanes, and two attained <a href="/wiki/Tropical_cyclone_scales#Atlantic_and_East_Pacific" title="Tropical cyclone scales">major hurricane</a> status. The season officially began on June&#160;1, although the season's first cyclone did not develop until July&#160;14. Despite the late start, the 2002 season tied with <a href="/wiki/2004_Atlantic_hurricane_season" title="2004 Atlantic hurricane season">2004</a>, <a href="/wiki/2007_Atlantic_hurricane_season" title="2007 Atlantic hurricane season">2007</a>, and <a href="/wiki/2010_Atlantic_hurricane_season" title="2010 Atlantic hurricane season">2010</a> in which a record number of tropical storms, eight, developed in the month of September. It ended early however, with no tropical storms forming after October 6—a rare occurrence caused partly by <a href="/wiki/El_Ni%C3%B1o" title="El Niño">El Niño</a> conditions. The most intense hurricane of the season was <a href="/wiki/Hurricane_Isidore" title="Hurricane Isidore">Hurricane Isidore</a> with a minimum central pressure of 934&#160;mbar, although <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a> attained higher winds and peaked at Category&#160;4 status on the <a href="/wiki/Saffir%E2%80%93Simpson_hurricane_wind_scale" title="Saffir–Simpson hurricane wind scale">Saffir–Simpson hurricane wind scale</a>. The season's low activity is reflected in the low cumulative <a href="/wiki/Accumulated_cyclone_energy" title="Accumulated cyclone energy">accumulated cyclone energy</a> (ACE) rating of 67.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> ACE is, broadly speaking, a measure of the power of the hurricane multiplied by the length of time it existed, so low number reflects the small number of strong storms and preponderance of tropical storms.
        </p>
        <p>
            The season was less destructive than average, causing an estimated $2.6&#160;billion (2002&#160;USD) in property damage and 23 fatalities. Most of this was due to Isidore, which caused about $970&#160;million (2002&#160;USD, $1.28&#160;billion 2016&#160;USD) in damage and killed seven people in the <a href="/wiki/Yucat%C3%A1n_Peninsula" title="Yucatán Peninsula">Yucatán Peninsula</a> and later the United States, and <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a>, which caused $860&#160;million (2002&#160;USD) in damage and 15 deaths when it made landfall in <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>.
        </p>
        <p></p>

    </div>
    <div class="row">
        <p>
        <p>
            The <b>2002 Atlantic hurricane season</b> was a slightly below average <a href="/wiki/Atlantic_hurricane_season" title="Atlantic hurricane season">Atlantic hurricane season</a>, officially starting on June&#160;1, 2002 and ending on November&#160;30, dates which conventionally limit the period of each year when most <a href="/wiki/Tropical_cyclone" title="Tropical cyclone">tropical cyclones</a> develop in the Atlantic Ocean. The season produced 14&#160;tropical cyclones, of which 12&#160;developed into <a href="/wiki/Tropical_cyclone_naming" title="Tropical cyclone naming">named storms</a>; four became hurricanes, and two attained <a href="/wiki/Tropical_cyclone_scales#Atlantic_and_East_Pacific" title="Tropical cyclone scales">major hurricane</a> status. The season officially began on June&#160;1, although the season's first cyclone did not develop until July&#160;14. Despite the late start, the 2002 season tied with <a href="/wiki/2004_Atlantic_hurricane_season" title="2004 Atlantic hurricane season">2004</a>, <a href="/wiki/2007_Atlantic_hurricane_season" title="2007 Atlantic hurricane season">2007</a>, and <a href="/wiki/2010_Atlantic_hurricane_season" title="2010 Atlantic hurricane season">2010</a> in which a record number of tropical storms, eight, developed in the month of September. It ended early however, with no tropical storms forming after October 6—a rare occurrence caused partly by <a href="/wiki/El_Ni%C3%B1o" title="El Niño">El Niño</a> conditions. The most intense hurricane of the season was <a href="/wiki/Hurricane_Isidore" title="Hurricane Isidore">Hurricane Isidore</a> with a minimum central pressure of 934&#160;mbar, although <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a> attained higher winds and peaked at Category&#160;4 status on the <a href="/wiki/Saffir%E2%80%93Simpson_hurricane_wind_scale" title="Saffir–Simpson hurricane wind scale">Saffir–Simpson hurricane wind scale</a>. The season's low activity is reflected in the low cumulative <a href="/wiki/Accumulated_cyclone_energy" title="Accumulated cyclone energy">accumulated cyclone energy</a> (ACE) rating of 67.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> ACE is, broadly speaking, a measure of the power of the hurricane multiplied by the length of time it existed, so low number reflects the small number of strong storms and preponderance of tropical storms.
        </p>
        <p>
            The season was less destructive than average, causing an estimated $2.6&#160;billion (2002&#160;USD) in property damage and 23 fatalities. Most of this was due to Isidore, which caused about $970&#160;million (2002&#160;USD, $1.28&#160;billion 2016&#160;USD) in damage and killed seven people in the <a href="/wiki/Yucat%C3%A1n_Peninsula" title="Yucatán Peninsula">Yucatán Peninsula</a> and later the United States, and <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a>, which caused $860&#160;million (2002&#160;USD) in damage and 15 deaths when it made landfall in <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>.
        </p>
        <p></p>

    </div>
    <div class="row">
        <p>
        <p>
            The <b>2002 Atlantic hurricane season</b> was a slightly below average <a href="/wiki/Atlantic_hurricane_season" title="Atlantic hurricane season">Atlantic hurricane season</a>, officially starting on June&#160;1, 2002 and ending on November&#160;30, dates which conventionally limit the period of each year when most <a href="/wiki/Tropical_cyclone" title="Tropical cyclone">tropical cyclones</a> develop in the Atlantic Ocean. The season produced 14&#160;tropical cyclones, of which 12&#160;developed into <a href="/wiki/Tropical_cyclone_naming" title="Tropical cyclone naming">named storms</a>; four became hurricanes, and two attained <a href="/wiki/Tropical_cyclone_scales#Atlantic_and_East_Pacific" title="Tropical cyclone scales">major hurricane</a> status. The season officially began on June&#160;1, although the season's first cyclone did not develop until July&#160;14. Despite the late start, the 2002 season tied with <a href="/wiki/2004_Atlantic_hurricane_season" title="2004 Atlantic hurricane season">2004</a>, <a href="/wiki/2007_Atlantic_hurricane_season" title="2007 Atlantic hurricane season">2007</a>, and <a href="/wiki/2010_Atlantic_hurricane_season" title="2010 Atlantic hurricane season">2010</a> in which a record number of tropical storms, eight, developed in the month of September. It ended early however, with no tropical storms forming after October 6—a rare occurrence caused partly by <a href="/wiki/El_Ni%C3%B1o" title="El Niño">El Niño</a> conditions. The most intense hurricane of the season was <a href="/wiki/Hurricane_Isidore" title="Hurricane Isidore">Hurricane Isidore</a> with a minimum central pressure of 934&#160;mbar, although <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a> attained higher winds and peaked at Category&#160;4 status on the <a href="/wiki/Saffir%E2%80%93Simpson_hurricane_wind_scale" title="Saffir–Simpson hurricane wind scale">Saffir–Simpson hurricane wind scale</a>. The season's low activity is reflected in the low cumulative <a href="/wiki/Accumulated_cyclone_energy" title="Accumulated cyclone energy">accumulated cyclone energy</a> (ACE) rating of 67.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> ACE is, broadly speaking, a measure of the power of the hurricane multiplied by the length of time it existed, so low number reflects the small number of strong storms and preponderance of tropical storms.
        </p>
        <p>
            The season was less destructive than average, causing an estimated $2.6&#160;billion (2002&#160;USD) in property damage and 23 fatalities. Most of this was due to Isidore, which caused about $970&#160;million (2002&#160;USD, $1.28&#160;billion 2016&#160;USD) in damage and killed seven people in the <a href="/wiki/Yucat%C3%A1n_Peninsula" title="Yucatán Peninsula">Yucatán Peninsula</a> and later the United States, and <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a>, which caused $860&#160;million (2002&#160;USD) in damage and 15 deaths when it made landfall in <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>.
        </p>
        <p></p>

    </div>
    <div class="row">
        <p>
        <p>
            The <b>2002 Atlantic hurricane season</b> was a slightly below average <a href="/wiki/Atlantic_hurricane_season" title="Atlantic hurricane season">Atlantic hurricane season</a>, officially starting on June&#160;1, 2002 and ending on November&#160;30, dates which conventionally limit the period of each year when most <a href="/wiki/Tropical_cyclone" title="Tropical cyclone">tropical cyclones</a> develop in the Atlantic Ocean. The season produced 14&#160;tropical cyclones, of which 12&#160;developed into <a href="/wiki/Tropical_cyclone_naming" title="Tropical cyclone naming">named storms</a>; four became hurricanes, and two attained <a href="/wiki/Tropical_cyclone_scales#Atlantic_and_East_Pacific" title="Tropical cyclone scales">major hurricane</a> status. The season officially began on June&#160;1, although the season's first cyclone did not develop until July&#160;14. Despite the late start, the 2002 season tied with <a href="/wiki/2004_Atlantic_hurricane_season" title="2004 Atlantic hurricane season">2004</a>, <a href="/wiki/2007_Atlantic_hurricane_season" title="2007 Atlantic hurricane season">2007</a>, and <a href="/wiki/2010_Atlantic_hurricane_season" title="2010 Atlantic hurricane season">2010</a> in which a record number of tropical storms, eight, developed in the month of September. It ended early however, with no tropical storms forming after October 6—a rare occurrence caused partly by <a href="/wiki/El_Ni%C3%B1o" title="El Niño">El Niño</a> conditions. The most intense hurricane of the season was <a href="/wiki/Hurricane_Isidore" title="Hurricane Isidore">Hurricane Isidore</a> with a minimum central pressure of 934&#160;mbar, although <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a> attained higher winds and peaked at Category&#160;4 status on the <a href="/wiki/Saffir%E2%80%93Simpson_hurricane_wind_scale" title="Saffir–Simpson hurricane wind scale">Saffir–Simpson hurricane wind scale</a>. The season's low activity is reflected in the low cumulative <a href="/wiki/Accumulated_cyclone_energy" title="Accumulated cyclone energy">accumulated cyclone energy</a> (ACE) rating of 67.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> ACE is, broadly speaking, a measure of the power of the hurricane multiplied by the length of time it existed, so low number reflects the small number of strong storms and preponderance of tropical storms.
        </p>
        <p>
            The season was less destructive than average, causing an estimated $2.6&#160;billion (2002&#160;USD) in property damage and 23 fatalities. Most of this was due to Isidore, which caused about $970&#160;million (2002&#160;USD, $1.28&#160;billion 2016&#160;USD) in damage and killed seven people in the <a href="/wiki/Yucat%C3%A1n_Peninsula" title="Yucatán Peninsula">Yucatán Peninsula</a> and later the United States, and <a href="/wiki/Hurricane_Lili" title="Hurricane Lili">Hurricane Lili</a>, which caused $860&#160;million (2002&#160;USD) in damage and 15 deaths when it made landfall in <a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>.
        </p>
        <p></p>
    </div>
</div>


@section scripts{
    <script>
        $(function () {

            // Send a maximum of 10 messages per second
            // (mouse movements trigger a lot of messages)
            var messageFrequency = 10,

                // Determine how often to send messages in
                // time to abide by the messageFrequency
                updateRate = 1000 / messageFrequency,
                moved = false;

            var connection = $.connection; //SignalR
            var trackingHub = connection.readerTrackerHub;

            trackingHub.client.notifyClients = function (trackJson) {

                var userExist = userExists(trackJson.ConnectionId);
                if (userExist) {
                    userExist.css({
                        left: trackJson.XPos + 'px',
                        top: trackJson.YPos + 'px'
                    });
                } else {
                    var color = generateRandomColor();
                    $('<div>',
                        {
                            id: trackJson.ConnectionId,
                            html: trackJson.ConnectionId,
                            class: 'user-pos-label label label-primary', style: 'background-color : rgba(' + color.r + ',' + color.g + ',' +
                                color.b +
                                ',1.0); left : ' +
                                trackJson.XPos +
                                'px; top : ' +
                                trackJson.YPos +
                                'px;'
                        })
                        .appendTo('body');
                }

            };

            connection.hub.start()
                          .done(function () {
                              var mouseMoveEvent = '';
                              $(document).on('mousemove', function (event) {
                                moved = true;
                                mouseMoveEvent = event;
                              });

                              // Start the client side server update interval
                              setInterval(function updateServerModel() {
                                  // Only update server if we have a new movement
                                  if (moved) {
                                      trackingHub.server.updateTrackInfo(mouseMoveEvent.pageX, mouseMoveEvent.pageY);
                                      moved = false;
                                  }
                              },updateRate);


                          });

            function userExists(connectionId) {
                return $("#" + connectionId + "").length === 0 ? null : $("#" + connectionId + "");
            }

            function generateRandomColor() {
                return {
                    r: Math.round(Math.random() * 256),
                    g: Math.round(Math.random() * 256),
                    b: Math.round(Math.random() * 256)
                };
            }

        });
    </script>
}

